# Pi-hole Configuration
PIHOLE_WEBPASSWORD=change_this_pihole_password
PIHOLE_TZ=Europe/Rome

# Tailscale Configuration (generate an auth key at https://login.tailscale.com/admin/settings/keys)
TS_AUTH_KEY=
